# .NET
**/.vs/**
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
**/appsettings.json

# Archivos sensibles
.env
*.env.local
*.env.development
*.env.production
*.env.test

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs files of all projects
**/Logs/**

# IDEs
.vscode/
.idea/
*.code-workspace